.srss-page-heading {
  color: #16325c;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.background {
  background: white;
}
.close-icon {
  --sds-c-icon-color-foreground-default: #ffffffd2;
  --sds-c-icon-color-background: transparent;
}
.cardSpinner {
  position: relative;
}
.modal-icon {
  --sds-c-icon-color-foreground-default: #ffffffe9;
  --sds-c-icon-color-background: #808080;
}
.delete-icon {
  --sds-c-icon-color-foreground-default: #dc0000d2;
  --sds-c-icon-color-background: transparent;
}
.srss-page-header {
  padding: 24px 24px 16px;
  color: #54698d;
  background: #f4f6f9;
  border-bottom: 1px solid #d0d0d0;
  transition: padding 0.25s ease-in;
}
.srss-page-heading {
  color: #16325c;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.srss-page-sub-heading {
  color: #0b0b0b;
}

.srss-page-heading {
  color: #020202;
}

.bluvium-link {
  color: #0366d6;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5mm;
}

.bluvium-link:hover {
  text-decoration: underline;
}
.custom-page-header {
  text-align: center;
}
.custom-srss-page-sub-heading {
  font-size: 1.2em; 
}
.bluvium-logo {
  height: 1.7em; 
  vertical-align: middle; 
  margin-right: 5px; 
  margin-bottom: 2px; 
}