.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.custom-table th,
.custom-table td {
  border: 1px solid #d8dde6;
  padding: 0.5rem;
}

.custom-table th {
  background-color: #f3f2f2;
  font-weight: bold;
}

.custom-table td {
  vertical-align: top;
}

.custom-table th div,
.custom-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-button {
  margin: 0 0.5rem;
}